emacs.d/.emacs.desktop*
emacs.d/auto-save-list/*
emacs.d/url
emacs.d/recentf*
emacs.d/.mc-lists.el
emacs.d/projectile-bookmarks.eld
emacs.d/var
.gitconfig.github
\#*\#
*~
.DS_Store
/emacs.d/tramp
/bin/cleanup-java
/emacs.d/notes
/emacs.d/bookmarks
/emacs.d/semanticdb/
